.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmp
*.log
*.bak
*.swp
*.DS_Store

_build/
*.cmi
*.cmo
*.cmx
*.o
*.a
*.cmxa
*.cma
*.cmxs
*.annot
*.out

*.d
*.gcda
*.gcno
*.gcov
*.obj
*.lib
*.exp
*.pdb
*.idb
*.ilk
*.iobj
*.ipdb
*.tlog/
*.lastbuildstate
*.pch
*.res
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_project
*.user
*.ncb
*.suo
*.opensdf
*.sdf
*.cachefile
*.dbmdl
*.jfmp
*.iobj
*.ipdb
*.tlog/
*.lastbuildstate
*.pch
*.res
*.rsp
*.sbr
*.tlb
*.tli